body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
}

.simplebar-scrollbar {
    background-color: #1DE9B6;
    border-radius: 7px;
    margin-right: 2px;
}

.simplebar-track.horizontal {
    display: none;
}
